@import "tailwindcss";

@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-white: #fdfaf5;
  --color-black: #1d1e20;
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 960px) {
    max-width: 960px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 640px) {
    max-width: 640px;
    padding-inline: 2rem;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: hsl(37, 67%, 98%);
  --foreground: hsl(240, 10%, 3.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --primary: hsl(240, 5.9%, 10%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 3.8%, 46.1%);
  --accent: hsl(240, 4.8%, 95.9%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5.9%, 10%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(220, 5%, 11%);
  --foreground: hsl(240, 3%, 85%);
  --card: hsl(240, 10%, 3.9%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(240, 10%, 3.9%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(240, 3%, 85%);
  --primary-foreground: hsl(240, 5.9%, 10%);
  --secondary: hsl(240, 3.7%, 15.9%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(240, 3.7%, 15.9%);
  --muted-foreground: hsl(240, 5%, 64.9%);
  --accent: hsl(240, 3.7%, 15.9%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(0, 62.8%, 30.6%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 3.7%, 15.9%);
  --input: hsl(240, 3.7%, 15.9%);
  --ring: hsl(240, 4.9%, 83.9%);
}

@layer utilities {
  .prose-neutral {
    --tw-prose-invert-links: 240 3% 85%;
    --tw-prose-links: 220, 5%, 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ========================
tailwindcss-animation-delay
https://github.com/burnworks/tailwindcss-animation-delay
======================== */
@utility animation-delay-none {
  animation-delay: 0s;
}
@utility animation-delay-inherit {
  animation-delay: inherit;
}
@utility animation-delay-initial {
  animation-delay: initial;
}
@utility animation-delay-revert {
  animation-delay: revert;
}
@utility animation-delay-revert-layer {
  animation-delay: revert-layer;
}
@utility animation-delay-unset {
  animation-delay: unset;
}
@utility animation-delay-* {
  animation-delay: --value([ *]);
  animation-delay: calc(--value(integer) * 1ms);
}

/* Usage ========================
1) Integer
e.g.
animation-delay-75 -> animation-delay: 75ms;
animation-delay-300 -> animation-delay: 300ms;

2) Keyword (the following are predefined)
animation-delay-none -> animation-delay: 0s;
animation-delay-inherit -> animation-delay: inherit;
animation-delay-initial -> animation-delay: initial;
animation-delay-revert -> animation-delay: revert;
animation-delay-revert-layer -> animation-delay: revert-layer;
animation-delay-unset -> animation-delay: unset;

3) Any <time> value
e.g.
animation-delay-[1.5s] -> animation-delay: 1.5s;
animation-delay-[-1500ms] -> animation-delay: -1500ms;
======================== */

/* end of tailwindcss-animation-delay setting */
